// @import '../../sass/colors.scss';
// @import '../../sass/fonts.scss';

// .icon-box {
//     background: $color-white;
//     width: 0px;
//     height: 0px;
//     line-height: 80px;
//     border-radius: 20px;
//     position: relative;
//     z-index: 0;
//     text-align: center;

//     &::before {
//         position: absolute;
//         content: '';
//         width: 00px;
//         height: 00px;
//         background: $color-white;
//         top: -10px;
//         left: -10px;
//         z-index: -1;
//         opacity: .3;
//         border-radius: 20px;
//     }

//     img {
//         max-width: 160px;
//         max-height: 180px;
//         margin-right: 200px;
//         margin-left: -80px;
//         margin-top:-160px ;
//         margin-bottom: -61px;
//     }
// }


// // Mobile Responsive
// @media (max-width: 575px) {
//     .icon-box {
//         width: 40px;
//         height: 40px;
//         line-height: 40px;
//         border-radius: 8px;

//         &::before {
//             width: 60px;
//             height: 60px;
//             border-radius: 10px;
//         }

//         img {
//             max-width: 63px;
//         }
//     }
// }

// @media (min-width: 576px) and (max-width: 767px) {
//     .icon-box {
//         width: 40px;
//         height: 40px;
//         line-height: 40px;
//         border-radius: 8px;

//         &::before {
//             width: 60px;
//             height: 60px;
//             border-radius: 10px;
//         }

//         img {
//             max-width: 25px;
//         }
        
//     }
// }
@import '../../sass/colors.scss';

/* white square */
// .icon-box {
//   width: 90px;
//   height: 90px;
//   background: $color-white;
//   border-radius: 16px;

//   display: flex;
//   align-items: center;
//   justify-content: center;

//   overflow: hidden;
// }

/* image */
.icon-box img,
.icon-box svg {
  width: 90px;
  height: 90px;
  object-fit: contain;
}
